@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: -webkit-gradient(linear, left top, left bottom, from(#FDEDEE), to(#EAAFB2)) fixed;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
    margin: 30px;
    font-weight: 600;
}

a:hover{
    font-weight: 800;
    color: #EF7070;
}

nav ul{
    list-style-type: none;
    display: flex;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5vw ;
    margin-right:5vw ;
}

header img{
    width: 220px;
}

main{
    margin: 10vh;
    margin-bottom: 0vh;
    margin-top: 0vh;

}

main h1{
    text-align: center;
    margin-bottom: 3vh;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
}


.horarios{
    text-align: right;
    height: 487px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

section h3{
    margin-bottom: 5px;
    font-size: 30px;
}

.dia{
    font-weight: bold;
}

.horas{
    margin-bottom: 5px;
}

footer{
    background-color: #EF7070;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img{
    width: 200px;
    display: flex;
    padding-right: 43vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.form-control{
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    /* display: flex; */
    /* gap: 5px; */
    width: 510px;
}

form div input{
    padding-left: 10px;
}

.lado-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #ffffff;
    background-color: transparent;
    width: 540px;
    margin-bottom: 90px;
}

.form-control{
    position: relative;
}

.form-control small{
    position: absolute;
    /* bottom: ; */
    left: 0;
    visibility: hidden;
}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

textarea{
    margin-bottom: 25px;
}
/* ERROR and SUCCESS*/

.form-control.error input{
    border-color: #e74c3c;
}

textarea:focus, input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
    color: #9d1b0d;
}

textarea{
    resize: none;
    align-self: center;
}

/* #campo-descricao{
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
} */

.lado-map{
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.lados{
    display: flex;
    justify-content: space-between;
}
.lado-form input{
    width: 505px;
    height: 48px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-control-button{
    display: flex;
    justify-content: center;
    
}

#button{
    border-radius: 20px;
    padding: 10px 22px;
    text-align: center;
    text-transform: uppercase;
    /* display: flex; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    width: 252px;
    background-color:#EF7070;
}

span{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

/* #campo-text{
    height: 165px;
} */


iframe{
    width: 568px;
    height: 487px;
}


@media (max-width: 768px){

.galeria-item p{
    font-size: 12px;
    text-align: center;
}

.galeria img{
    height: 20vh;
}
.galeria{
    margin-bottom: 3vh;
}
}


@media (max-width: 700px){
    header{
        flex-direction: column;
        margin-bottom: 5vh;
    }

    .galeria-item{
        width: 33vw;
    }

    footer img{
        padding-right: 0;
    }
    
    
}

@media (max-width: 375px){
    
    header{
    flex-direction: column;
}

#logo{
    width: 200vw;
}

footer img{
    padding-right: 0;
}

.galeria-item{
    width: 100vw;
}

}

/* button{
    padding: 10px 22px;
    align-self: center;
    cursor: pointer;  
    background-color:#EF7070;
    color: #fff;
    border-radius: 20px;
    height: 48px;
} */















    /* .lado-form{
        text-transform: uppercase;
        color: black;
        padding: 20px;
        width: 445px;
        height: 504px;
        border-radius: 10px;
        border: solid #ffffff;
        display: grid;
        justify-content: center;
        justify-items: start;
        margin-bottom: 5vw;
    } */
    
    
    
    /* div input{
        width: 355px;
        height: 48px;
    } */
    
    /* 
    button{
        margin: 5px;
        align-items: center;
        border-radius: 20px;
        padding: 10px 22px;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    } */